.container{
    background-color:lavender;
    max-width: 650px;
    
}
h1{
    text-align: center;
}
button {
    background-color: #a776e4;
    color: white;
    padding: 15px 20px;
    margin: 8px 0;
    border: chocolate;
    cursor: pointer;
    width: 100%;
    
    
  }
  button:hover {
    opacity: 0.8;
  }
  input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
   body{
    
    background-image:url('C:\Users\rohin\OneDrive\Desktop\profile\my-app\public\love.jpg');

    width:auto;
    height:auto;
    background-repeat:no-repeat;
  

   
  } 
  