.container{
    background-color:lavender;
    max-width: auto;
    
}
h1{
    text-align: center;
}
button {
    background-color: #04AA6D;
    color: white;
    padding: 10px 10px;
    margin: 4px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  button:hover {
    opacity: 0.8;
  }
  input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  /* login{
    background-image: url('');
    
    background-size: 100%;
    
    background-repeat:no-repeat;

} */
  