.container{
    background-color:lavender;
    max-width: auto;
    
}
h1{
    text-align: center;
}
button {
    background-color: #04AA6D;
    color: white;
    padding: 8px 10px;
    margin: 4px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  button:hover {
    opacity: 0.8;
    box-shadow: 0 0 5px  rgb(230, 178, 133),
    0 0 25px rgb(230, 178, 133),0 0 50px  rgb(230, 178, 133),
    0 0 100px rgb(230, 178, 133), 0 0 200px rgb(230, 178, 133);
  }
  input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  /* login{
    background-image: url('');
    
    background-size: 100%;
    
    background-repeat:no-repeat;

} */
.b {
  border: 1px solid lightsalmon;
  background-color: lavenderblush;
  padding: 10px;
}
  